@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Poppins', 'Ubuntu', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: white;
    border: 3px black solid;
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
}

.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.code {
    border-radius: 5px;
    font-size: 75px;
    height: 120px;
    width: 100px;
    border: 1px solid lightgrey;
    margin: 0.5%;
    text-align: center;
    font-weight: 400;
    -moz-appearance: textfield;
}

.code::-webkit-outer-spin-button, .code::-webkit-inner-spin-button {
    -webkit-appearence: none;
    margin: 0;
}

.code:valid {
    border-color: steelblue;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}