* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: rebeccapurple;
}

.kinetic {
    position: relative;
    height: 85px;
    width: 85px;
}